# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. ggplot2
3. Pandas

| Data Science Tools |
| -------------------|
| Jupyter Notebooks  |
| R Studio           |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in python
# Addition
4+3
# Subtraction 
9-4 
# Division 
10/2
# Multiplication
10*2

In [29]:
# This is a simple arithmetic to multiply then add integers
(3*4)+5

17

In [30]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives**
- Discover github
- Explore R
- Explore Python
- Discover IDE's
- Discover Branches

## Author
Kyle McNicholas